.storetail-id-__PLACEHOLDER__ .storetail-bf-vignette {
    background-image: __BTF_CONTAINE_IMG__;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 576px;
    background-color: __BTFCOLOR__;
}

.storetail-id-__PLACEHOLDER__ {
    border: 1px solid __BORDER_COLOR__;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
    flex-basis: 100%;
    height: 120px;
    background-color: __BG_COLOR__;
}

.storetail-id-__PLACEHOLDER__ .sto-logo {
    height: 120px;
    width: 150px;
    position: relative;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    background-image: __LOGOIMG__;
    background-position: center;
}

.storetail-id-__PLACEHOLDER__ .sto-logo .sto-cta-img{
    display: none;
}

.storetail-id-__PLACEHOLDER__>div {
    background-position: center center;
    background-repeat: no-repeat;
    height: 120px;
    position: relative;
    width: 1152px;
    text-align: center;
    background-image: __BTF_CONTAINE_IMG__;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 50%;
    margin: 0 auto;
}

.storetail-id-__PLACEHOLDER__>div>div,
.sto-products-container,
.sto-products-container article {
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 120px;
    position: relative;
    vertical-align: middle;
}

.storetail-id-__PLACEHOLDER__ .sto-design-left {
    height: 120px;
    width: 138px;
    position: relative;
    float: left;
    background-image: __DESIGN_LEFT__;
    background-repeat: no-repeat;
    background-position: center;
}

.storetail-id-__PLACEHOLDER__ .sto-products-container {
    height: 120px;
    width: 576px;
    position: relative;
    /* margin-left: 50%; */
    /* background-color: red; */
    text-align: left;
    background-image: __MINIPRODUITS_IMG__;
    background-repeat: no-repeat;
    background-position: center;
}

.storetail-id-__PLACEHOLDER__ .sto-mini-products {
    height: 120px;
    width: 96px;
    position: relative;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.storetail-id-__PLACEHOLDER__ .sto-mini-products-left {
    float: left;
}

.storetail-id-__PLACEHOLDER__ .sto-mini-products-left {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.storetail-id-__PLACEHOLDER__ .sto-mini-products-right {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.storetail-id-__PLACEHOLDER__ .sto-design-right {
    position: relative;
    height: 120px;
    width: 192px;
    float: right;
    background-image: __DESIGN_RIGHT__;
    background-repeat: no-repeat;
    background-position: center;
}

.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-design-right,
.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-design-right{
    width: 288px;
    float: right;
    background-image: __DESIGN_RIGHT_BIG__;
}

.storetail-id-__PLACEHOLDER__ .sto-design-right .sto-cta {
    display: none;
}

.storetail-id-__PLACEHOLDER__ .sto-logo2{
    display: none;
}

.storetail-id-__PLACEHOLDER__ .sto-product-center {
    width: 384px;
    height: 120px;
    position: relative;
    display: inline-block;
    float: left;
    background-image: __CARROUSEL_IMG__;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 19px;
}

.storetail-id-__PLACEHOLDER__ .sto-arrows-products-left {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -7px;
    z-index: 1;
    top: 44px;
    background-image: __ARROW__;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.storetail-id-__PLACEHOLDER__ .sto-arrows-products-left:hover {
    background-image: __ARROW_HOVER__;
}

.storetail-id-__PLACEHOLDER__ .sto-arrows-products-right {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -7px;
    z-index: 1;
    top: 44px;
    background-image: __ARROW__;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotate(180deg);
}

.storetail-id-__PLACEHOLDER__ .sto-arrows-products-right:hover {
    background-image: __ARROW_HOVER__;
}

.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-arrows-products,
.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-mini-products,
.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-mini-products {
    display: none !important;
}

.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-products-container,
.storetail-id-__PLACEHOLDER__[data-count="2"] .sto-products-container {
    width: 384px;
    background-image: none;
}

.storetail-id-__PLACEHOLDER__ .sto-buttons-container,
.storetail-id-__PLACEHOLDER__[data-count="1"] .sto-buttons-container {
    display: none;
}

.sto-video {
    position: fixed;
    background-color: whitesmoke;
    min-height: 200px;
    min-width: 200px;
    top: 250px;
    margin-left: 50%;
    z-index: 10001;
    padding: 40px 10px 20px 10px;
    border-radius: 10px;
    transform: translateX(-50%);
  }
  
  .sto-ecran {
    position: fixed;
    background-color: #666161;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    opacity: .5;
  }
  
  .sto-close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 4px;
    top: 4px;
    background-image: url("./../../img/close.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

/* MULTIBRAND */

.storetail-id-__PLACEHOLDER__[multibrand] .sto-design-left {
    width: 192px;
    background-image: __DESIGN_LEFT_MULTI__;
}

.storetail-id-__PLACEHOLDER__[multibrand] .sto-products-container {
    width: 384px;
    background-image: none;
}

.storetail-id-__PLACEHOLDER__[multibrand] .sto-mini-products {
    display: none;
}

.storetail-id-__PLACEHOLDER__[multibrand] .sto-logo2{
    display: inline-block;
    background-image: __LOGOIMG2__;
    background-position: center;
    background-repeat: no-repeat;
    float:right;
    width: 150px;
    height: 120px;
}

.storetail-id-__PLACEHOLDER__[multibrand] .sto-design-right {
    width: 192px;
    background-image: __DESIGN_RIGHT__;
}

/* CTA LAYOUT - REDIRECTION - VIDEO - FILE */

.storetail-id-__PLACEHOLDER__[cta-type][data-count="3"] .sto-design-right,
.storetail-id-__PLACEHOLDER__[cta-type][data-count="4"] .sto-design-right,
.storetail-id-__PLACEHOLDER__[cta-type][data-count="5"] .sto-design-right{
    width: 288px;
    background-image: __DESIGN_RIGHT_BIG__;
}

.storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right .sto-cta{
    height: 30px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    display: inline-block;
    background-image: __CTA_IMG__;
}

.storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right .sto-cta:hover{
    background-image: __CTA_IMG_HOVER__;
}

.storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right .sto-cta[cta-pos="top"]{
    bottom: auto;
    top: 7px;
}

.storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right .sto-cta[cta-pos="middle"]{
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right .sto-cta[cta-pos="bottom"]{
    bottom: 7px;
}



@media screen and (min-width: 813px) {
    .storetail-id-__PLACEHOLDER__ .product-badge--origin {
        font-size: .40em;
        margin: 0 0.40rem .75rem 0;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__legal-infos {
        position: absolute;
        width: 120px;
        bottom: 0;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing__dscnt-price {
        text-align: left;
        font-size: .7em;
    }

    .storetail-id-__PLACEHOLDER__ .promotion-description {
        height: 20px !important;
        padding: 0 !important;
        min-height: 0;
        margin: 0 !important;
        width: 121px;
        font-size: 9px;
        position: absolute;
        right: 14px;
        top: 0px;
    }

    .storetail-id-__PLACEHOLDER__ .promotion-label__txt {
        height: 23px;
        line-height: 4;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__body .title {
        font-size: 14px;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__body .packaging {
        margin-top: 3px;
        font-size: 10px;
    }
}

@media screen and (min-width: 813px) {
    .storetail-id-__PLACEHOLDER__ .product-card {
        height: 120px;
        width: 346px;
        padding: 0;
        position: relative;
        min-height: 120px;
        float: left;
        display: none;
        overflow: hidden;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__hdr {
        height: 120px;
        min-height: 120px;
    }

    .storetail-id-__PLACEHOLDER__ .button-shopping-list {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__hdr a {
        height: 120 !important;
        max-width: 120px;
        min-height: 120px;
        position: relative;
        float: left;
        display: block;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__hdr a img {
        height: 110px;
        width: auto;
        top: 5px;
        left: 5px;
        position: relative;
        float: left;
        transform: none;
        /* transform: translate(-50%, 0); */
    }

    .storetail-id-__PLACEHOLDER__ .product-card__body {
        width: 220px;
        position: absolute;
        height: 120px;
        min-height: 120px;
        right: 0;
        padding-top: 3px;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing {
        position: absolute;
        bottom: 0;
        height: 74px;
        min-height: 60px;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing .product-pricing__cntnr-blk {
        height: 50px;
        min-height: 73px;
        position: absolute;
        bottom: 0;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing .product-pricing__price-blk {
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        text-align: right;
        top: -8px;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing .product-pricing__price-blk .product-pricing__main-price {
        font-size: 133%;
        top: 14px;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing .product-pricing__price-blk .product-pricing__main-ppu {
        display: block;
        position: absolute;
        font-size: 10px;
        left: 0;
        text-align: left;
        top: 0;
    }

    .storetail-id-__PLACEHOLDER__ .product-pricing .promotion-description{
        pointer-events: none;
    }

    .storetail-id-__PLACEHOLDER__ .counterb {
        position: absolute;
        bottom: 6px;
        right: 0;
    }
}

/*
    Data sizes
        ds4 : -- 1152
        ds3 : 1151 - 962
        ds2 : 961 - 768
        ds1 : 767 - 576
        mob: 576 - 0

    Web site: 
        ds4 : -- 1436
        ds3 : 1435 - 1235
        ds2 : 1234 - 1029
        ds1 : 1028 - 812
*/

@media screen and (min-width: 1235px) and (max-width: 1435px) { /* Data size 3 */

    .storetail-id-__PLACEHOLDER__ .sto-design-right {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__[data-count="1"] .sto-design-right,
    .storetail-id-__PLACEHOLDER__[data-count="2"] .sto-design-right {
        display: inline-block;
        width: 192px;
        background-image: __DESIGN_RIGHT__;
    }

    .storetail-id-__PLACEHOLDER__[multibrand] .sto-design-left{
        width: 138px;
        background-image: __DESIGN_LEFT__;
    }

    .storetail-id-__PLACEHOLDER__[multibrand] .sto-design-right{
        display: inline-block;
        width: 138px;
        background-image: __DESIGN_RIGHT_MULTI__;
    }

    .storetail-id-__PLACEHOLDER__[cta-type][data-count="5"] .sto-products-container,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="4"] .sto-products-container,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="3"] .sto-products-container{
        width: 384px;
        background-image: none;
    }

    .storetail-id-__PLACEHOLDER__[cta-type][data-count="5"] .sto-mini-products,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="4"] .sto-mini-products,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="3"] .sto-mini-products {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right{
        display: inline-block;
        width: 288px!important;
        background-image: __DESIGN_RIGHT_BIG__!important;
    }

}

@media screen and (min-width: 1029px) and (max-width: 1234px) { /* Data size 2 */
    .storetail-id-__PLACEHOLDER__ .sto-design-left {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__[data-count="1"] .sto-design-left,
    .storetail-id-__PLACEHOLDER__[data-count="2"] .sto-design-left {
        display: inline-block;
    }

    .storetail-id-__PLACEHOLDER__ .sto-design-right,
    .storetail-id-__PLACEHOLDER__[multibrand] .sto-design-left,
    .storetail-id-__PLACEHOLDER__[multibrand] .sto-design-right {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__[cta-type][data-count="1"] .sto-design-left,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="2"] .sto-design-left {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__[cta-type][data-count="5"] .sto-products-container,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="4"] .sto-products-container,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="3"] .sto-products-container{
        width: 384px;
        background-image: none;
    }
 
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="5"] .sto-mini-products,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="4"] .sto-mini-products,
    .storetail-id-__PLACEHOLDER__[cta-type][data-count="3"] .sto-mini-products {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__[cta-type] .sto-design-right{
        display: inline-block!important;
        width: 192px!important;
        background-image: __DESIGN_RIGHT__!important;
    }
}

@media screen and (min-width: 812px) and (max-width: 1028px) { /* Data size 1 */
    .storetail-id-__PLACEHOLDER__ .sto-design-left,
    .storetail-id-__PLACEHOLDER__ .sto-design-right,
    .storetail-id-__PLACEHOLDER__ .sto-mini-products,
    .storetail-id-__PLACEHOLDER__[multibrand] .sto-design-right,
    .storetail-id-__PLACEHOLDER__[multibrand] .sto-logo2 {
        display: none;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container {
        width: 384px;
        background-image: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 812px) {
    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button {
        font-size: 2vw!important;
    }
}

@media screen and (max-width: 812px) {
    .storetail-id-__PLACEHOLDER__ {
        height: auto;
    }

    .storetail-id-__PLACEHOLDER__>div {
        height: auto !important;
        width: 100%;
        background-position: top center;
        background-size: contain;
    }

    .storetail-id-__PLACEHOLDER__ .sto-design-right,
    .storetail-id-__PLACEHOLDER__ .sto-mini-products,
    .storetail-id-__PLACEHOLDER__ .sto-design-left,
    .storetail-id-__PLACEHOLDER__ .sto-arrows-products,
    .storetail-id-__PLACEHOLDER__ .sto-logo2 {
        display: none !important;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container {
        display: block;
        width: 100% !important;
        height: 120px;
        background-image: __BTF_CONTAINE_IMG_MOB__ !important;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 120px;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .sto-product-center {
        width: 100%;
        height: auto;
        background-image: none;
        background-color: white;
        padding: 0;
    }

    .storetail-id-__PLACEHOLDER__ .sto-products-container .sto-product-center>article {
        height: auto;
    }

    .storetail-id-__PLACEHOLDER__ .sto-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background-size: contain;
        background-position: left center;
        background-image: __LOGOIMG_MOB__ !important;
    }

    .storetail-id-__PLACEHOLDER__[data-count="1"] .sto-logo {
        background-position: center;
    }

    .storetail-id-__PLACEHOLDER__ .sto-logo .sto-cta-img{
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
        background-image: __LOGOIMG_MOB__ !important;
    }

    .storetail-id-__PLACEHOLDER__[cta-type] .sto-logo .sto-cta-img{
        cursor: pointer;
        display: inline-block;
        width: 35%;
        height: 100%;
    }

    .storetail-id-__PLACEHOLDER__ .product-card {
        flex-direction: row;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__hdr {
        height: auto;
        min-height: 120px;
        width: 50%;
        float: left;
    }

    .storetail-id-__PLACEHOLDER__ .product-card__body {
        width: 50%;
        float: right;
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container {
        display: block;
        height: 100%;
        width: 59%;
        float: right;
        position: relative;
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button {
        border: 0;
        background-color: __BUTTONCOLOR__;
        color: __BUTTONTXT__;
        position: absolute;
        width: calc(50% - 15px) !important;
        min-height: 0px;
        height: calc(50% - 15px);
        /*line-height: 1;*/
        font-size: 3vw;
        font-family: 'Roboto', arial, sans-serif;
        border-radius: 30px!important;
        padding: 0!important;
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button:hover,
    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button.sto-button-selected {
        background-color: __BUTTONCOLOR_SEL__;
        color: __BUTTONTXT_SEL__;
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(calc(-100% - 5px), calc(-100% - 5px));
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(calc(-100% - 5px), calc(0% + 5px));
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button:nth-child(3) {
        top: 50%;
        left: 50%;
        transform: translate(calc(0% + 5px), calc(-100% - 5px));
    }

    .storetail-id-__PLACEHOLDER__ .sto-buttons-container button:nth-child(4) {
        top: 50%;
        left: 50%;
        transform: translate(calc(0% + 5px), calc(0% + 5px));
    }

    .storetail-id-__PLACEHOLDER__[data-count="2"] .sto-buttons-container button:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(calc(-100% - 5px),-50%);
    }

    .storetail-id-__PLACEHOLDER__[data-count="2"] .sto-buttons-container button:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(calc(0% + 5px),-50%);
    }
}